<header>
  <div class="wrapper">
    <h1>Thunder's Tattoos!</h1>
    <p>... where nothing is impossible!</p>
  </div>
  <div class="mini-navbar-wrap">
    <div class="mini-navbar">
      <ul>
        <li class="user-profile-btn">
          <a routerLink="/profile">User's profile</a>
        </li>
        <li>
          <a>Logout</a>
        </li>

        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/tattoos">Tattoos</a>
      </li>
      <li>
        <a routerLink="/add-tattoo">New Tattoo</a>
      </li>
    </ul>
  </nav>
</header>
