<!-- homepage -->
<div class="container">
  <div class="profile">
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/005/544/718/small_2x/profile-icon-design-free-vector.jpg"
      alt="default user"
    />
    <h3>User Info:</h3>

    <!-- READONLY MODE -->

    <ng-container>
      <div class="flex">
        <p>Username:</p>
        <p>{{ profileDetails.username }}</p>
      </div>
      <div class="flex">
        <p>Email:</p>
        <p>{{ profileDetails.email }}</p>
      </div>
      <div class="flex">
        <p>Phone:</p>
        <p>{{ profileDetails.tel }}</p>
      </div>
    </ng-container>
  </div>
</div>
