<div class="container">
  <!-- tattoo content  -->
  <div class="tattoo-content">
    <!-- tattoo-title  -->

    @if(!isLogged){
    <app-home />
    }
    <div class="tattoo-title">
      <div class="tattoo-name-wrapper">
        <div class="tattoo-name">
         
            <h2>{{ tattoo.type }}</h2>
            <img src="{{ tattoo.img }}" />
          
          <div class="columns">
            <div>
              <h3 class="description">{{ tattoo.description }}</h3>
              <p>
                <b>Uploaded: </b> <time>{{ tattoo._createdOn | elapsedTime }}</time>
              </p>
              <div class="nick-name">
                <p>
                 <b>Tattooist: </b> <span>{{ tattoo.ownerName }}</span>
                </p>

              </div>
              <div class="price">
                <p>
                 <b> Price: </b> <span>{{ tattoo.price }}</span>
                </p>

              </div>

        <div class="buttons">
          @if (isLogged && isOwner) {
          <button
            routerLink="/tattoos/edit/{{ tattoo._id }}"
            class="btn btn-edit"
          >
            Edit
          </button>
          <button class="btn btn-del" (click)="delete()">Delete</button>
          }
        </div>
        <div class="subscribers">
      
          @if(isLogged && !isTattooLikedByUser){
          <button class="button-like" (click)="like(tattoo._id)">
            <i class="fa fa-heart"></i>
            <span>Like</span>
          </button>
        }
        <p>
           @if(isTattooLikedByUser){
            <p>You have liked this tattoo.</p>
            }
          Likes: <span>{{this.likes}}</span> 
          </p>
       

          @if (comments.length > 0){
          @for (comment of comments; track $index) {
            <div class="comment">
              <header class="header">
                <p>
                  <span>{{ comment.author.username }}</span> posted on
                  <time>{{ comment._createdOn | elapsedTime }}</time>
                </p>

              </header>
              @if(user?._id === comment._ownerId){
                <div class="delete">

                    <button type="button" (click)="deleteComment(comment._id)">Delete comment</button>
                </div>
            }
              <div class="comment-main">
                <div class="userdetails">
                  <img src="./profile.png" alt="avatar" />
                </div>
                <div class="post-content">
                  <p>
                    {{ comment.content.comment }}
                  </p>
                </div>
              </div>
             
            </div>
          } 
        } @else {
            <div class="no-comment">
              <p>No comments yet. Be the first one to comment this tattoo!</p>
            </div>
          }
        
         @if(isCreatingComment){
            <div class="answer-comment">
              <p>
                <span>{{ username }}</span> comment:
              </p>
              <div class="answer">
                <form #form="ngForm" (ngSubmit)="addComment(form)">
                  <div class="input-container">
                      <input 
                          type="text" 
                          id="comment" 
                          name="comment"
                          placeholder="Add your comment here"
                          ngModel
                          #inputComment="ngModel"
                          maxlength="100"
                          minlength="1"
                          required
                          cols="30"
                          rows="10"
                          />
                  </div>
                  </form>
                  <button class="post" (click)="addComment(form)">Post</button>
              </div>
            </div>
            }
          
  
            @if (isLogged) {
              <div class="bts-container">
                  <button (click)="addCommentToggle()">Add comment</button>
                  <button type="button" class="cancel" (click)="addCommentToggle()">Cancel</button>
              </div>
          }
        
        </div>
      </div>
    </div>
  </div>
</div>
