<div class="container">
  <!-- tattoo content  -->
  <div class="tattoo-content">
    <!-- tattoo-title  -->

    @if(!isLogged){
    <app-home />
    }
    <div class="tattoo-title">
      <div class="tattoo-name-wrapper">
        <div class="tattoo-name">
          <h2>{{ tattoo.type }}</h2>
          <p>
            Date: <time>{{ tattoo._createdOn }}</time>
          </p>
        </div>
        <div class="buttons">
          @if (isLogged && isOwner) {
          <button
            routerLink="/tattoos/edit/{{ tattoo._id }}"
            class="btn btn-edit"
          >
            Edit
          </button>
          <button class="btn btn-del" (click)="delete()">Delete</button>
          }
        </div>
        <div class="subscribers">
          @if (isLogged && !isTattooLikedByUser) {
          <button class="subscribe" (click)="like(tattoo._id)">Like</button>
          }
          <p>
            @if(isTattooLikedByUser){
              <p>You have liked this tattoo.</p>
              }
            Likes: <span>{{this.likes}}</span>
          </p>
        
        </div>
      </div>
    </div>
  </div>
</div>
