.mainbox {
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
    background: white;
  }
  
  .err {
    color: rgb(108, 164, 164);
    font-family: "Nunito Sans", sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 40%;
    top: 8%;
  }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 52%;
    top: 15%;
    color: rgb(108, 164, 164);
  }
  
  .err2 {
    color: #234465;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11rem;
    position: absolute;
    left:64%;
    top: 8%;
  }
  
  .msg {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 18%;
    top: 55%;
    width: 75%;
  }
  
  a {
    text-decoration: none;
    color: #234465;
  }
  
  a:hover {
    text-decoration: underline;
  }
  