<div class="container">
    <div class="container">
      <div class="welcome">
        <h3>Welcome!</h3>
        <p>
          Tattoos Mania is a place where tattooists in Sofia, Bulgaria upload their recent work! Everyone can browse and add tattoos of their own!  
        </p>
  
        @if (!isLoggedIn){
        <div class="logged">
          <ul>
            <li>
              <a routerLink="/login">

                Login
              </a>
            </li>
            <li>
              <a routerLink="/register">

                Register
              </a>
            </li>
          </ul>
        </div>
      }
        
      </div>
    </div>
  </div>