<div class="container">
    <div class="container">
      <div class="welcome">
        <h3>Welcome!</h3>
        <p>
          Thunder's Tattoos is a place where you can browse, add and comment on tattoos! It is also a personal space for the tattooist Thunder, whose designs are popular in Sofia, Bulgaria!
        </p>
  
        @if (!isLoggedIn){
        <div class="logged">
          <ul>
            <li>
              <a routerLink="/login">
                <i class="fas fa-sign-in-alt"></i>
                Login
              </a>
            </li>
            <li>
              <a routerLink="/register">
                <i class="fas fa-user-plus"></i>
                Register
              </a>
            </li>
          </ul>
        </div>
      }
        
      </div>
    </div>
  </div>