/* tattoo list item */

.tattoo-container a {
    text-decoration: none;
    color: white;
    margin-left: 150px
  }

.tattoo-container {
  display: flex;
  flex: 0 0 30%;
}
  .tattoo-container span {
    font-weight: bold;
  }
  
  .tattoo-container h2,
  p {
    padding: 0.3em 0 0.2em;
    margin: 0;
  }
  .tattoo-container h2 {
    padding: 0.3em 0 0.2em;
    margin: 0;
    background-color: #234465;
    color: white;
    text-shadow: 1px 1px rgb(121, 117, 117);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;

  }
  .tattoo-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.5em;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
    background-color: rgb(108, 164, 164);
    border: 2px solid black;
    width: 420px;
    border-radius: 10px;
  }
  
  .tattoo-title {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .tattoo-name {
    width: 100%;
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }
  

 
  
  time {
    font-weight: bold;
  }
  
  img {
    width: 400px;
    height: 400px;
  }

  main {
    display: flex;
    width: auto;
    
  }